<mat-toolbar color="primary">
    <span>Meal Plan - Login</span>
</mat-toolbar>

<form (submit)="onLogin()" #form="ngForm">
    <div>
        <mat-form-field fxFlex="100">
            <mat-label>Username</mat-label>
            <input matInput required data-mealplan-login-id id="username" name="username"
                [(ngModel)]="loginDetails.userName" />
        </mat-form-field>
    </div>

    <div>
        <mat-form-field fxFlex="100">
            <mat-label>Password</mat-label>
            <input matInput required type="password" data-mealplan-login-password id="password" name="password"
                [(ngModel)]="loginDetails.password" />
        </mat-form-field>
    </div>
    <div>
        <mat-checkbox data-mealplan-login-rememberme id="rememberMe" name="rememberMe" [(ngModel)]="rememberMe">
            Remember Me
        </mat-checkbox>
    </div>

    <div id="error-message" data-mealplan-login-message *ngIf="errorMessage">
        <mat-error>{{errorMessage}}</mat-error>
    </div>

    <div class="logon-button-container">
        <button data-mealplan-login-button [disabled]="form.invalid" type="submit" mat-raised-button
            color="primary">Login</button>
    </div>
</form>