/* MDB.css adds an image to checkboxes, which is not needed */

.form-check-input:checked[type="checkbox"] {
    background-image: none;
}

.sticky {
    position: sticky;
    bottom: 0;
    background-color: inherit;
    z-index: 1055;
  }