<form [formGroup]="formGroup" (submit)="onSubmit()">
    <div class="container">
        <div class="pb-3">
            <div class="row">
                <span class="fw-bold ps-0 pb-1">Location:</span>
            </div>
            <div class="row">
                <div class="form-check" *ngFor="let location of locations$ | async">
                    <input class="form-check-input" type="radio" formControlName="locationId" name="locationId"
                        [value]="location.id" [id]="'location-' + location.id">
                    <label class="form-check-label" [style.color]="location.foregroundColour"
                        [style.background-color]="location.backgroundColour" [for]="'location-' + location.id">
                        {{location.name}}
                    </label>
                </div>
            </div>
        </div>

        <div class="pb-3">
            <div class=row>
                <span class="fw-bold ps-0 pb-1">People:</span>
            </div>
            <div class="row">
                <div class="form-check" *ngFor="let personControl of $any(getPersonControls()).controls; let i = index">
                    <input class="form-check-input" type="checkbox" [formControl]="personControl" [name]="'person-' + people[i].id"
                        [id]="'person-' + people[i].id">
                    <label class="form-check-label rounded-3" [style.color]="people[i].foregroundColour"
                        [style.background-color]="people[i].backgroundColour" [for]="'person-' + people[i].id">
                        {{people[i].name}}
                    </label>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-3">
                    <label class="form-label" for="otherPeople">Others:</label>
                </div>
                <div class="col-9">
                    <input class="form-control" formControlName="otherPeople" name="other-people" id="other-people">
                </div>
            </div>
        </div>

        <div class="pb-3">
            <div class="row">
                <span class="fw-bold ps-0 pb-1">Delivery:</span>
            </div>
            <div class="row">
                <div class="form-check d-flex align-items-baseline">
                    <input class="form-check-input" type="checkbox" formControlName="delivery" name="delivery" id="delivery">
                    <label class="form-check-label">
                        Delivery
                        <img src="/assets/img/delivery.png" style="width: 5em;" alt="Delivery">
                    </label>
                </div>
            </div>
        </div>

        <div class="pb-3">
            <div class="row">
                <span class="fw-bold ps-0 pb-1">Meal Description:</span>
            </div>
            <div class="row">
                <textarea class="form-control" formControlName="description"></textarea>
            </div>
        </div>

        <div class="pb-3">
            <div class="row">
                <span class="ps-0 pb-1">Notes:</span>
            </div>
            <div class="row">
                <input class="form-control" formControlName="notes">
            </div>
        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary w-100" type="submit">Save</button>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-primary w-100" type="button" (click)="onClose()">Cancel</button>
            </div>
        </div>
    </div>
</form>