<form (submit)="onChangePassword()" [formGroup]="formGroup">
    <div class="mb-3">
        <label for="oldPassword" class="form-label">Enter old password:</label>
        <input type="password" class="form-control" id="oldPassword" name="oldPassword" formControlName="oldPassword" />
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">Enter new password:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword" />
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm password:</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" />
    </div>
    <div class="mb-3 text-danger" *ngIf="passwordConfirmation?.invalid && (passwordConfirmation?.dirty || passwordConfirmation?.touched)">
        The passwords do not match
    </div> 
    <!-- <div class="mb-3 text-danger">
        {{errorMessage}}
    </div> -->
    <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary">Login</button>
</form>
