a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.link-active {
  background-color: lightgray;
}

mat-toolbar.toolbar-auto-height {
  /* Toolbars are marked as single-line unless we use <mat-toolbar-row>
   * But we can't use <mat-toolbar-row> because we only want rows on
   * small screens. This CSS ensures the display of (single-line) toolbars
   * works even when they actually contain more than one line
   */

  height: auto;
}