<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a mat-button (click)="collapse()" [routerLink]="['/']">Home</a>
          </li>
          <li [routerLinkActive]="['link-active']" *ngIf="isViewer">
            <a mat-button (click)="collapse()" [routerLink]="['/mealplan']">Meal Plan</a>
          </li>
          <li [routerLinkActive]="['link-active']" *ngIf="!loggedIn">
            <a mat-button class="nav-link text-dark" (click)="collapse()" [routerLink]="['/login']">Login</a>
          </li>

          <li>
            <button mat-button [matMenuTriggerFor]="dropdown" *ngIf="loggedIn">
              <mat-icon>person</mat-icon>
            </button>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

<mat-menu #dropdown="matMenu">
      <a [routerLinkActive]="['link-active']" mat-menu-item (click)="collapse()" [routerLink]="['/change-password']">Change Password</a>
      <button mat-menu-item href="javascript:void(0);" (click)="logout(); collapse();">Logout {{userName}}</button>
</mat-menu>