<h1>Meal Plan</h1>

<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <div *ngFor="let entry of mealPlanService.mealPlanEntries">
        <meal-plan-entry [entry]="entry" (click)="onSelectEntry(entry)"></meal-plan-entry>
    </div>
</div>

<div *ngIf="canEdit()" id="editor-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter meal details for {{editingEntry?.date | date:'EEEE d MMMM'}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <meal-plan-entry-editor #editor [entry]="editingEntry" (close)="onCloseEditor()" (save)="onSave($event)"></meal-plan-entry-editor>
            </div>
        </div>
    </div>
</div>