<mat-toolbar color="primary">
    <span>Meal Plan - Change Password</span>
</mat-toolbar>

<form (submit)="onChangePassword()" [formGroup]="formGroup" class="mt-4">
    <div class="mb-3">
        <label for="oldPassword" class="form-label">Enter old password:</label>
        <input type="password" class="form-control" id="oldPassword" name="oldPassword" formControlName="oldPassword" />
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">Enter new password:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword" />
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm password:</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" />
    </div>
    <div class="mb-3 text-danger" *ngIf="passwordConfirmation?.invalid && (passwordConfirmation?.dirty || passwordConfirmation?.touched)">
        The passwords do not match
    </div> 
    <div class="mb-3 text-danger" *ngIf="errors.length">
        <p class="mb-0" *ngFor="let error of errors">
            {{error}}
        </p>
    </div>
    <button [disabled]="submitting || !formGroup.valid" type="submit" mat-raised-button color="primary">Change Password</button>
</form>
