<mat-toolbar color="primary">
    <span>Meal Plan - Change Password</span>
</mat-toolbar>

<form (submit)="onChangePassword()" [formGroup]="formGroup">
    <div>
        <mat-form-field fxFlex="100">
            <mat-label>Enter old password</mat-label>
            <input matInput type="password" id="oldPassword" name="oldPassword" formControlName="oldPassword" />
        </mat-form-field>
    </div>

    <div>
        <mat-form-field fxFlex="100">
            <mat-label>Enter new password</mat-label>
            <input matInput type="password" id="newPassword" name="newPassword" formControlName="newPassword" />
        </mat-form-field>
    </div>

    <div>
        <mat-form-field fxFlex="100">
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" />
        </mat-form-field>
    </div>


    <div *ngIf="passwordConfirmation?.invalid && (passwordConfirmation?.dirty || passwordConfirmation?.touched)">
        <p>
            <mat-error>The passwords do not match</mat-error>
        </p>
    </div> 

    <div *ngIf="errors.length">
        <p *ngFor="let error of errors">
            <mat-error>{{error}}</mat-error>
        </p>
    </div>

    <div>
        <button [disabled]="submitting || !formGroup.valid" type="submit" mat-raised-button color="primary">Change Password</button>
    </div>
</form>
